:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --primary-grey: rgb(188, 184, 184);
  --selection-blue: #4093cb8f;
}

::selection {
  background: var(--selection-blue);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.fse-header {
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #000;
    background-color: #ffffff;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}